* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(236, 234, 229);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

html {
    scroll-behavior:smooth;
}

.navHeading {
    background-color: #00ac4e;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: white;
}

.seocndcon {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 8rem;
}

.logoBox {
    display: flex;

}

.seocndcon button {
    background-color: #00ac4e;
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin-top: 3rem;
}

.seocndcon button a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.logoBox img {
    width: 18rem;
    height: 7rem;
    padding: 1rem 0;
    margin-left: 5rem;
    margin-right: 1.5rem;

}

.serachBox {
    width: 28rem;
    /* border: 1px solid black; */
    position: absolute;
    right: 5rem;
    display: flex;

    
}   

.serachBox i {
    background-color: #00ac4e;
    width: 6vh;
    height: 6vh;
    padding-top: 2vh;
    position: absolute;
    top: 36%;
    right: 12%;
    color: black;

}


.serachBox input {
    width: 25rem;
    height: 3rem;
    margin: 3rem 0;
    background-color: rgb(216, 211, 211);
    border: none;
    padding-left: 1rem;

}
.serachBox input:focus{
    outline: none;
}

.menuBar {
    height: 3rem;
    background-color: #39393f;
    /* position: sticky;
    top:0; */
}

/* menu list css  */
.menuList {
    width: 100%;
    height: 3rem;
}

.menuList ul {
    display: flex;
    justify-content: space-around;
    margin: 0 15rem;
    padding-top: 14px;
}

.menuList ul li {
    text-align: center;
    list-style: none;
}

.menuList ul li a {
    text-decoration: none;
    color: white;
}

.menuList ul li a:hover {
    color: #00ac4e;
    border-bottom: #00ac4e solid 1px;
}
.menuList ul li .active{
     color: #00ac4e; 
}

/* body css */

.storeDiv{
    border: 1px solid blue;
    width: 100%;
    text-align: center;
}
.storeDiv h2{
    margin-top: 2rem;
    font-size: 3rem;
}
.storeDiv h5{
    font-size: 1rem;
}
.storeDiv h5 b{
    font-weight: normal;
    color: green;
}

.cardCont{
    border: 1px solid red;
    width: 80%;
    margin: 4rem auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardBox{
    border: 1px solid blue;
    width: 32%;
    height: 80vh;
    background-color: white;
}
.cardBox .imgDiv{
    border: 1px solid rgb(58, 230, 16);
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.imgDiv:hover img{
    transform: scale(1.1);
    rotate: -2deg;
}
.imgDiv img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.cardBox p{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}
.cardBox button{
    background-color: #00ac4e;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 80%;
    margin: 2rem;
    font-size: 1rem;
    text-align: center;
    color: white;
}




/* footrer css */
.foot {
    background-color: #39393f;
}

.mainFooter {
    background-color: #39393f;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 6rem 6rem 2rem 6rem;
}

.mainFooter h3 {
    color: gray;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: medium;
}

.contacUS,
.about p a,
.others p a,
.shop p a {
    color: white;
    text-decoration: none;
    line-height: 2rem;
}


.contacUS p a:hover {
    color: green;
}

.about p a:hover {
    color: green;
}

.others p a:hover {
    color: green;
}

.shop p a:hover {
    color: green;
}

.contacUS {
    flex: 30%;
    border-right: 2px solid white;
    padding-right: 2rem;

}

.about {
    flex: 30%;
    border-right: 2px solid white;
    padding-left: 2rem;

}

.others {
    flex: 20%;
    margin-left: 2rem;

}

.shop {
    flex: 20%;
    border-left: 2px solid white;
    padding-left: 2rem;

}

.socialIcons {
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding-bottom: 4rem;
    color: rgb(248, 244, 244);

}

.socialIcons div {
    padding: 7px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgba(31, 35, 43, 0.76);
}

.socialIcons div:hover {
    color: green;
    background-color: white;
}
.Top{
    border: 1px solid rgb(248, 242, 242);
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #39393f;

}
.Top a{
    color: white;
}
.Top a i{
    margin-top: 1rem;
}