* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(236, 234, 229);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.navHeading {
    background-color: #00ac4e;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: white;
}

.seocndcon {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 8rem;
}

.logoBox {
    display: flex;

}

.seocndcon button {
    background-color: #00ac4e;
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin-top: 3rem;
}

.seocndcon button a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.logoBox img {
    width: 18rem;
    height: 7rem;
    padding: 1rem 0;
    margin-left: 5rem;
    margin-right: 1.5rem;

}

.serachBox {
    width: 28rem;
    /* border: 1px solid black; */
    position: absolute;
    right: 5rem;
    display: flex;

    
}

.serachBox i {
    background-color: #00ac4e;
    width: 6vh;
    height: 6vh;
    padding-top: 2vh;
    position: absolute;
    top: 36%;
    right: 12%;
    color: black;

}

.serachBox input {
    width: 25rem;
    height: 3rem;
    margin: 3rem 0;
    background-color: rgb(216, 211, 211);
    border: none;
    padding-left: 1rem;

}
.serachBox input:focus{
    outline: none;
}

.menuBar {
    height: 3rem;
    background-color: #39393f;
    position: sticky;
    top:0;
}

/* menu list css  */
.menuList {
    width: 100%;
    height: 3rem;
}

.menuList ul {
    display: flex;
    justify-content: space-around;
    margin: 0 15rem;
    padding-top: 14px;
}

.menuList ul li {
    text-align: center;
    list-style: none;
}

.menuList ul li a {
    text-decoration: none;
    color: white;
}

.menuList ul li a:hover {
    color: #00ac4e;
    border-bottom: #00ac4e solid 1px;
}

.chocoBite img {
    width: 100%;
}

.years {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
}

.youTube iframe {
    width: 80%;
    height: 30rem;
    margin-left: 9rem;
    margin-bottom: 2rem;
    border-radius: 1rem;

}

/* products */
.Products {
    margin-bottom: 3rem;
}

.imgDiv {
    margin-left: 1rem;
    display: flex;
}

.imgDiv img {
    width: 40rem;
    height: 17rem;
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
}

.mainImgDiv {
    width: 40rem;
    height: 17rem;
}

.best {
    text-align: center;
}
.products{
    border: 1px solid black;
    /* height: 40rem; */
}
.ProductContainer{
    border: 1px solid red;
    width: 85%;
    margin: 0rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.iceCreamCard{
    border: 1px solid blue;
    width: 23%;
    height: 22rem;
    margin-left: 13px;
    background-color: white;
    margin-bottom: 2rem;
}
.iceCreamCard img{
    width: 100%;
}
.iceCreamCard h4{
    text-align: center;
    margin: 10px;
} 
.iceCreamCard div{
    text-align: center;
    border: 1px solid rgb(128, 0, 96);
    display: none;
}
.iceCreamCard:hover div{
    display: block;
}
.iceCreamCard div .buy{
    width: 4rem;
    padding: 5px;
    background-color: #00ac4e;
    border: none;
    border-radius: 3px;
    color: white;
}
.iceCreamCard div .readMore{
    width: 7rem;
    padding: 5px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 2px;
}
.iceCreamCard div .readMore:hover{
    background-color: #00ac4e;
}
.now{
    width: 100%;
    border: 1px solid greenyellow;
    margin-bottom: 5rem;
}
.nowJs{
    width: 85%;
    margin: 2rem auto;
    border: 1px solid orange;
}
.nowJs img{
    width: 100%;
}

/* INGREDIENT STORY css */

.ing{
    text-align: center;
    margin: 1rem auto;
    font-size: 25px;
    
}
.ingrStory{
    border: 1px solid black;
    height: 25rem;
    margin-top: 5rem;
}
.conting{
    border: 1px solid rgb(255, 0, 13);
    height:25rem;
    margin: 0px auto;
    width: 85%;
    display: flex;
    gap: 20px;
}
.sotryCont{
    border: 1px solid purple;
    width: 30%;
    height: 25rem;
    margin: 0rem auto;
    text-align: center;
}
.sotryCont img{
    width: 20%;
    margin-bottom: 1rem;
}
.sotryCont p{
    font-size: 1.2rem;
    color: gray;
}
.sotryCont img:hover{
    width: 19%;
}
.milkImg img{
    width: 100%;
}
.follow{
    text-align: center;
    font-size: 20px;
}
.follow a{
    text-decoration: none;
}
.follow a b{
    color: black;
}
.insta{
    border: 2px solid navy;
    height: 16rem;
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.linkImg{
    border: 1px solid red;
    height: 16rem;
    width: 16rem;
}
.linkImg  img{
    width: 100%;
}
/* information div css*/

.paraGraph {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.pcontain {
    background-color: white;
    box-shadow: 2px 2px 7px black;
    border-radius: 10px;
    margin: 2rem 7rem;
    text-align: center;
}

.pcontain h3 {
    padding: 2rem 0;
    font-size: 25px;
}

.pcontain p {
    text-align: start;
    padding: 0 3rem;
    line-height: 2rem;
    margin-bottom: 2rem;

    font-size: 20px;
}

.pcontain .readBt {
    display: block;
    justify-content: center;
}

.readBt button {
    background-color: #00ac4e;
    border: none;
    border-radius: 5px;
    height: 2rem;
    color: white;
    font-size: 1rem;
    padding: 0 15px;
    margin-bottom: 5rem;
}

/* green footer css */

.greenfooter {
    background-color: #13a538;
}

.child {
    text-align: center;
}

.child img {
    width: 15rem;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.child p button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 10rem;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.child .available {
    font-size: 25px;
    color: white;
    margin-bottom: 1rem;
}

/* footer */

.foot {
    background-color: #39393f;
}

.mainFooter {
    background-color: #39393f;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 6rem 6rem 2rem 6rem;
}

.mainFooter h3 {
    color: gray;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: medium;
}

.contacUS,
.about p a,
.others p a,
.shop p a {
    color: white;
    text-decoration: none;
    line-height: 2rem;
}


.contacUS p a:hover {
    color: green;
}

.about p a:hover {
    color: green;
}

.others p a:hover {
    color: green;
}

.shop p a:hover {
    color: green;
}

.contacUS {
    flex: 30%;
    border-right: 2px solid white;
    padding-right: 2rem;

}

.about {
    flex: 30%;
    border-right: 2px solid white;
    padding-left: 2rem;

}

.others {
    flex: 20%;
    margin-left: 2rem;

}

.shop {
    flex: 20%;
    border-left: 2px solid white;
    padding-left: 2rem;

}

.socialIcons {
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding-bottom: 4rem;
    color: rgb(248, 244, 244);

}

.socialIcons div {
    padding: 7px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgba(31, 35, 43, 0.76);
}

.socialIcons div:hover {
    color: green;
    background-color: white;
}
.Top{
    border: 1px solid rgb(248, 242, 242);
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #39393f;

}
.Top a{
    color: white;
}
.Top a i{
    margin-top: 1rem;
}