*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(236, 234, 229);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.navHeading{
    background-color:#00ac4e;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: white;
}
.seocndcon{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 8rem;
}
.logoBox{
    display: flex;

}
.seocndcon  button{
    background-color: #00ac4e;
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin-top: 3rem;
}
.seocndcon button a{
    text-decoration: none; 
    color: white;
    padding: 1rem;
    font-size: 1rem;
}
.logoBox img{
    width: 18rem;
    height: 7rem;
    padding: 1rem 0;
    margin-left: 5rem;
    margin-right: 1.5rem;

}
.serachBox{
    /* background-color:aqua; */
    width: 34rem;
    

}
.serachBox input{
    width: 25rem;
    height: 3rem;
    margin: 3rem 0;
    background-color: rgb(216, 211, 211);
    border: none;
    padding-left: 1rem;
    
}
.menuBar{
    height: 3rem;
    background-color: #39393f;
}
/* menu list css  */
.menuList{
    width: 100%;
    height: 3rem;
}
.menuList ul{
    display:flex; 
    justify-content:space-around;
    margin: 0 15rem;
    padding-top: 14px;
}
.menuList ul li{
    text-align: center;
    list-style: none;
}
.menuList ul li a{
    text-decoration: none;
    color: white;
}
.menuList ul li a:hover{
    color: #00ac4e;
    border-bottom: #00ac4e solid 1px;
}

.chocoBite img{
    width: 100%;
}
.years{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
}

.youTube iframe{
    width: 80%;
    height: 30rem;
    margin-left: 9rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    
}

/* products */
.Products{
    margin-bottom: 3rem;
}
.imgDiv{
    margin-left: 1rem;
    display: flex;
}
.imgDiv img{
    width: 40rem;
    height: 17rem;
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: 5px;

}
.mainImgDiv{
    width: 40rem;
    height: 17rem;
}

.bestSel{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: 5rem;
}